#follower-list-section,
.connections-section {
    background-color: #f3f2ef;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-family: Arial, sans-serif;
    width: 300px;
    height: 323px;
}

#follower-list-section h2,
.connections-section h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.connection-info {
    background: white;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    border: 1px solid #ddd;
}

.connection-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

.connections-header {
    font-size: 18px;
    font-weight: bold;
    color: #0073b1;
    margin-bottom: 10px;
}

.connections-list {
    display: flex;
    flex-direction: column;
}

.ad-banner-container {
    display: none;
}